{% autoescape off %}
Здравствуйте!

Вы получили это письмо, потому что был отправлен запрос на восстановление пароля для Вашей учётной записи на сайте {{ site_name }}.

Чтобы установить новый пароль, перейдите по следующей ссылке:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше имя пользователя (на случай, если Вы его забыли): {{ user.get_username }}

Если Вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.

Спасибо, что пользуетесь нашим сервисом!

С уважением,
Команда {{ site_name }}
{% endautoescape %}
