{% extends 'base.html' %}

{% block content %}

<h1>Коллекция {{ collection.title }}</h1>

<div class="collection-detail">
    {% if collection.image %}
        <div class="collection-item-image">
            <img src="{{ collection.image.url }}" alt="{{ collection.title }}" style="max-width: 300px;">
        </div>
    {% endif %}

    <div class="collection-item-content">
        <p>{{ collection.content|linebreaks }}</p>
        <a href="{% url 'homepage' %}">❮ Назад</a>
    </div>

</div>

{% endblock %}
